<h2>Depts</h2>
<p>
	| <%= link_to 'New', "#", :id => "new_dept_link" %> 
	| <%= link_to 'Edit', "#", :id => "edit_dept_link" %> 
	| <%= link_to 'Del', "#", :id => "delete_dept_link", :confirm => 'Are you sure?', :method => :delete, :remote => true %>
	|
</p>
<div id="tree"></div>

<% content_for :js_header do %>
	<%= javascript_include_tag depts_path %>
<% end %>