<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="/">Homebrew HR</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="nav-home-item"><a href="/">Home</a></li>
					<li class="nav-item"><a href="/org_charts">Org Charts</a></li>
					<li class="nav-item"><a href="/bands">Bands</a></li>
					<li class="nav-item"><a href="/reviews">Reviews</a></li>
					<li class="nav-item"><a href="#">Awards</a></li>
				</ul>
				<p class="navbar-text pull-right">Logged in as <a href="/logout"><%= current_human_name %></a></p>
			</div>
		</div>
	</div>
</div>
