<%= render 'nav' %>
<div class="container">
		<div class="row">
			<div class="span3">
				<%= render :template => "/depts/index" %>
			</div>
			<div class="span9">
				<%= render :template => "/humen/index" %>
			</div>
		</div>
</div>