<div class="container">
	<%= render 'nav' %>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<%= render :template => "/depts/index" %>
			</div>
			<div class="span9">
				<%= render :template => "/humen/index" %>
			</div>
		</div>
	</div>
</div>