<div id="login">
  <h2>Please Login</h2>
  <form action="/login" method="post">
    <table border="0">
      <tr>
        <td align="right">Login</td>
        <td><input type="text" name="login" value=""/></td>
      </tr>
      <tr>
        <td align="right">Password</td>
        <td><input type="password" name="password" value=""/></td>
      </tr>
      <tr>
        <td align="right">Remember me</td>
        <td><input type="checkbox" name="remember" value="1" checked/></td>
      </tr>
    </table>
		<br>
    <input type="submit" value="Login"/>
  </form>
</div>
