<div class="row-fluid">
	<div class="span6">
	<div class="btn-toolbar">
		<div class="btn-group">
			<%= link_to 'New', "#", :id => "new_human_link", :class => "btn" %>
			<%= link_to 'Edit', "#", :id => "edit_human_link", :class => "btn" %> 
			<%= link_to 'Del', "#", :id => "delete_human_link", :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => "btn" %>
		</div>
	</div>
	</div>
	<div class="span6">
		<div class="btn-toolbar pull-right">
		<div class="btn-group">
      <a id="filter-menu" class="btn dropdown-toggle" data-toggle="dropdown" href="#">Filter - Actually Managing <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a class="filter-item" filter="none" href="#">None</a></li>
        <li><a class="filter-item" filter="manage" href="#">Managing</a></li>
        <li><a class="filter-item" filter="amanage" href="#">Actually Managing</a></li>
        <li><a class="filter-item" filter="work" href="#">Can do work</a></li>
        <li><a class="filter-item" filter="left" href="#">Has Left</a></li>
      </ul>
		</div>
    </div>
	</div>
</div>
<div class="row-fluid">
<table class="table table-bordered" id="humen-table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Login</th>
			<th>Gender</th>
			<th>Marriage</th>
			<th>Dept</th>
			<th>Board date</th>
			<th>State</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
</div>

<% content_for :header do %>
	<%= javascript_include_tag humen_path %>
<% end %>
