/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree . 
 *= require_self
*/

#content {
  width: 900px;
  margin: 30px auto;
  padding: 0;
/*    border: 1px solid blue;*/
}

tr.even.row_selected td {
	background-color: #B0BED9;
}

tr.odd.row_selected td {
	background-color: #9FAFD1;
}

.btn-tiny {
	padding:3px 3px;
	font-size:10px;
	line-height:11px;
}

.underline {
	border-bottom: 1px solid #fbeed5;
}

.text-area {
	width: 300px;
	height: 200px;
}