#depts {
  position:relative;
  float:left;
  width:200px;
}

#humen {
  position:relative;
  float:left;
  width:680px;
  height:auto;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #999999;
  padding-left: 10px;
}

#login {
  position:relative;
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid black;
}